<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>

  <body>
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#F6F6E9" style="font-family: 'AvenirNext-Regular','Avenir Next',Avenir,Helvetica,Arial,sans-serif; font-size: 16px; border-collapse: collapse">
      <tr>
        <td height="50"></td>
      </tr>

      <tr>
        <td align="center">
          <table width="550" cellpadding="0" cellpadding="0" style="border-collapse: collapse">
            <tr>
              <td>
                <table border="0" width="100%" style="border-collapse: collapse" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#194769" height="10px" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"></td>
                  </tr>

                  <tr>
                    <td>
                      <table width="100%">
                        <tr>
                          <td height="60px" bgcolor="#F6F6E9" align="center" valign="middle">
                            <a href="https://app.engagerocket.co">
                              <img src="https://app.engagerocket.co/ER360-logo.png" alt="LOGO" width="250" style="max-width: 250px;">
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td bgcolor="#F6F6E9" align="center" valign="middle" style="color: #194769; font-weight: 300;">
                            <table width="90%">
                              <tr>
                                <td align="center" style="font-size: 25px;font-family: 'AvenirNext-Regular','Avenir Next',Avenir,Helvetica,Arial,sans-serif">
                                  <%= subject %>
                                </td>
                              </tr>

                              <tr>
                                <td height="30" align="center" style="font-size: 17px;font-family: 'AvenirNext-Regular','Avenir Next',Avenir,Helvetica,Arial,sans-serif; color: #194769;">
                                  Brought to you by the development team.
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <% projects.each do |project| %>
              <tr>
                <td height="5" bgcolor="#F2855E"></td>
              </tr>

              <tr>
                <td align="center" height="70" valign="middle" style="font-size: 35px; color: #194769;" bgcolor="#D7EEF2">
                  <%=project.name%>
                </td>
              </tr>

              <% items(project).each do |key, item_arr| %>
                <tr>
                  <td align="center">
                    <table border="0" width="100%" style="border-collapse: collapse" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="50" valign="middle" align="center" bgcolor="#194769" style="font-size: 18px; color: #F6F6E9;font-family: 'AvenirNext-Regular','Avenir Next',Avenir,Helvetica,Arial,sans-serif">
                          <%= key.upcase %>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="center">
                    <table width="100%" bgcolor="#D7EEF2" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse">
                      <tr>
                        <td style="padding: 20px;">
                          <table style="color: #194769;" width="100%">
                            <% item_arr.each do |item| %>
                              <tr>
                                <td width="75%" style="font-family: 'AvenirNext-Regular','Avenir Next',Avenir,Helvetica,Arial,sans-serif">
                                  <%= item.name %>
                                </td>

                                <td width="25%">
                                  <a href="<%= item.url %>" style="color: #194769;font-family: 'AvenirNext-Regular','Avenir Next',Avenir,Helvetica,Arial,sans-serif">
                                    <%= item.id%>
                                  </a>
                                </td>
                              </tr>
                            <% end %>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              <% end %>
            <% end %>

            <tr>
              <td>
                <table width="100%" style="color: #F2855E; font-size: 10px; line-height: 17px;">
                  <tr>
                    <td align="center" style="padding: 10px 0;">
                      <div>
                        This release note email is sent by the EngageRocket Developers.
                      </div>

                      <div>
                        You're getting this email because you are a rocketeer of EngageRocket.
                      </div>

                      <div>
                      If you have any question, please contact us via
                        <a href="mailto:hello+developer@engagerocket.co" style="color: #F2855E">
                        hello+developer@engagerocket.co
                        </a>
                      </div>

                      <div style="color: #F2855E; text-decoration: none;">
                        Copyright © <%= Date.today.year %>, EngageRocket Pte Ltd. &middot; Block 71 Ayer Rajah Crescent, Singapore
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td bgcolor="#194769" height="10px" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"></td>
            </tr>

            <tr>
              <td height="50"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
